@charset "UTF-8";

body{
    background-color: rgb(116, 248, 116);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(6, 44, 6);
}

#principal{
    text-align: center;
    background-color: rgb(6, 44, 6);
    color: white;
}

h2{
    color: green;
}

.basico{

    color: green;
}

.intermediario{
    color: rgb(8, 24, 13);
}

.avancado{
    color: rgb(194, 68, 18);
    
}